#services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#services .service-box {
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    outline: var(--main-outline);
    padding: 40px 30px;
    margin-bottom: 50px;
    min-width: 320px;
    min-height: 350px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

#services .service-box:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.service-box .service-icon {
    font-size: var(--main-font-size);
    margin-bottom: 20px;
}

.service-box .more {
    display: flex;
    margin-top: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}

.more p {
    margin-right: 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.service-box p:hover {
    margin-right: 10px;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    outline: var(--main-outline);
    padding: 30px;
    line-height: 2.7;
}


dialog #close-btn {
    cursor: pointer;
    color: var(--secondary-color);
    border: none;
    background-color: #fff;
    font-size: 1.3rem;
    float: right;

}

dialog .service-title {
    text-align: center;
    margin: 20px auto;
}

dialog .service-title p {
    color: var(--secondary-color);
}

dialog li {
    color: var(--secondary-color);
    font-weight: var(--main-p-font-weight);
}

@media(min-width:50rem) {
    #services .container {
        display: flex;
        gap: 5rem;
    }
}

@media(max-width:50rem) {
    dialog {
        font-size: 0.6rem;
    }
}