#about .container {
    display: block;
    line-height: var(--main-line-height);
}

#about .container img {
    display: none;
}

#about .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#about i {
    font-size: var(--secondary-font-size);
}

#about .card {
    background-color: #fff;
    width: 100px;
    height: 75px;
    padding: 1rem;
    border: var(--main-border);
    outline: var(--main-outline);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    font-size: 0.5rem;
    text-align: center;
}

#about .about-info {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

#about button {
    display: block;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

#about button:hover {
    background-color: #0f73c3;
}

@media(min-width: 50rem) {

    #about .container {
        display: flex;
        gap: 5rem;
    }

    #about .container img {
        display: block;
        max-width: 380px;
        max-height: 350px;
        border-radius: var(--main-border-radius);
        -webkit-border-radius: var(--main-border-radius);
        -moz-border-radius: var(--main-border-radius);
        -ms-border-radius: var(--main-border-radius);
        -o-border-radius: var(--main-border-radius);
    }

    #about .about-info {
        text-align: left;
    }

    #about .about-info p {
        font-size: 1rem;
    }

    #about button {
        margin: 20px 0px;
    }

    #about .card {
        padding: 2rem;
        width: 200px;
        height: 160px;
        font-size: 1rem;
    }
}