/*Navigation*/
#navigation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background-color: #fff;
    padding: 20px 0;
    border: 1px solid #f3f3f3;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

nav .toggle-menu {
    display: none;
}

nav .show-toggle-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -ms-border-radius: 1.5rem 1.5rem 0 0;
    -o-border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);

}


nav .show-toggle-menu i {
    display: block;
}

nav .show-toggle-menu .nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

nav .container {
    margin: auto 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

#navigation-bar p {
    color: var(--main-Color);
    font-weight: var(--main-font-weight);
    font-size: 1rem;
}

#navigation-bar ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    text-align: center;
}


@media(min-width:50rem) {
    nav .container {
        margin: auto 120px;
    }

    #navigation-bar {
        top: 0;
        max-height: 80px;
    }

    nav .toggle-menu {
        display: block;
    }

    nav i {
        display: none;
    }

    #navigation-bar p {
        font-size: var(--main-font-size);
    }

    #navigation-bar ul {
        display: flex;
        gap: 2.5rem;
        text-align: center;
    }

    #navigation-bar li a {
        font-size: var(--secondary-font-size);
        color: #000;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    #navigation-bar li a:hover {
        font-weight: bold;
        color: var(--main-hover-color);
    }

    #navigation-bar .active {
        font-weight: bold;
        color: var(--main-Color);
    }
}